<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.atlassian.tungdang</string>
	<key>connections</key>
	<dict>
		<key>78DFBB49-56D4-40B6-9DE3-62EF266A19C7</key>
		<array/>
		<key>B06EFA00-BD47-48B9-BF13-A73052018A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78DFBB49-56D4-40B6-9DE3-62EF266A19C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF217F50-2341-4449-889A-AAEB44E4882A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2144BAF4-BBDC-4622-9F71-302B5F832B8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tung Dang</string>
	<key>description</key>
	<string>Yarn API Search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yarn</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>## Choose a link and then open it

/usr/local/node . "open_link" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>78DFBB49-56D4-40B6-9DE3-62EF266A19C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>yarn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/node . "load_all_links" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Where do you want to go?</string>
				<key>title</key>
				<string>Where do you want to go?</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B06EFA00-BD47-48B9-BF13-A73052018A79</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yarn_clear_cache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Yarn - clear cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF217F50-2341-4449-889A-AAEB44E4882A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/local/node . "clear_cache"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2144BAF4-BBDC-4622-9F71-302B5F832B8A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2144BAF4-BBDC-4622-9F71-302B5F832B8A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>78DFBB49-56D4-40B6-9DE3-62EF266A19C7</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>B06EFA00-BD47-48B9-BF13-A73052018A79</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>DF217F50-2341-4449-889A-AAEB44E4882A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
